 .u-section-1 {
  background-image: linear-gradient(white, #7abfe4);
}

.u-section-1 .u-sheet-1 {
  min-height: 699px;
}

.u-section-1 .u-icon-1 {
  width: 40px;
  height: 40px;
  margin: 11px auto 0 -58px;
}

.u-section-1 .u-shape-1 {
  width: 532px;
  height: 316px;
  margin: 141px auto 0;
}

.u-section-1 .u-custom-html-1 {
  min-height: 158px;
  width: 440px;
  margin: -165px auto 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: -240px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-custom-html-1 {
    width: 250px;
    height: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-shape-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: -248px;
  }
}